<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Baconbnb</a>

				<ul class="nav navbar-nav pull-left">
					<li>
				    <form class="navbar-form navbar-left" role="search">
				      <div class="form-group">
				        <input type="text" class="form-control" placeholder="Where are you going?">
				      </div>
				    </form>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Browse<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Popular", "#" %></li>
							<li><%= link_to "Friends", "#" %></li>
							<li><%= link_to "Neighborhoods", "#" %></li>
						</ul>
					</li>
				</ul>
			
				<ul class="nav navbar-nav pull-right">
					<li class="btn btn-navbar">
						<% if !current_user.nil? %>
							<li style="margin-top: 2px;"><%= image_tag current_user.profile_photo.url(:small) %></li>
							<li><a><%= current_user.f_name + " " + current_user.l_name %></a></li>
					    <li><%= link_to "Logout", session_url, :method => :delete %></li>
						<% else %>
							<li><a href="#" class="signup-link" data-toggle="modal" data-target="#mySignupModal">Sign Up</a></li>
							<li><a href="#" class="login-link" data-toggle="modal" data-target="#myLoginModal">Log In</a></li>
						<% end %>
						<li><%= link_to "Help", "#"%></li>
						<li><button type="button" class="btn navbar-btn">LIST YOUR SPACE</button></li>
					</li>
				</ul>

		</div>
  </div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4>Oops! Something went wrong!</h4>
	<p>
		<% flash[:errors].each do |error| %>
			<%= error %><br>
		<% end %>
    <button type="button" class="btn btn-danger">Try Again</button>
    <button type="button" class="btn btn-default">Or give up</button>
  </p>
</div>
<% end %>

			
<div class="content"></div>

<script type="application/json" id="bootstrapped_pads_json">
	{ "pads": <%= Pad.all.to_json(:methods => :gmaps_hash).html_safe %> }
</script>

<div class="modal fade" id="mySignupModal" tabindex="-1" role="form" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign Up!</h4>
      </div>
			<form class="signup-form" action="<%= users_url %>" method="post" enctype="multipart/form-data">
	      <div class="modal-body modal-signup">
					<button class="login-facebook btn btn-primary">Log In with Facebook</button>
				  <input
				     name="authenticity_token"
				     type="hidden"
				     value="<%= form_authenticity_token %>">
						 
				  <label class="signup-label" for="user_f_name">First Name</label>
				  <input
				     id="user_f_name"
				     name="user[f_name]"
				     type="text">
				  <br>
				
				  <label class="signup-label" for="user_l_name">Last Name</label>
				  <input
				     id="user_l_name"
				     name="user[l_name]"
				     type="text">
				  <br>

				  <label class="signup-label" for="user_email">Email</label>
				  <input
				     id="user_email"
				     name="user[email]"
				     type="text">
				  <br>

				  <label class="signup-label" for="user_password">Password</label>
				  <input
				     id="user_password"
				     name="user[password]"
				     type="password">
				  <br>
					
					<label for="profile_photo">Profile Photo</label>
					<input type="file" name="user[profile_photo]"/>
					
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <input type="submit" class="btn btn-primary" value="Sign Up">
	      </div>
			</form>
    </div>
  </div>
</div>


<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Log In!</h4>
      </div>
			<form class="login-form" action="<%= session_url %>" method="post">
	      <div class="modal-body modal-login">
					<button class="login-facebook btn btn-primary">Log In with Facebook</button>
				  <input
				     name="authenticity_token"
				     type="hidden"
				     value="<%= form_authenticity_token %>">
					 
				  <label class="login-label" for="user_email">Email</label>
				  <input
				     id="user_email"
				     name="user[email]"
				     type="text">
				  <br>

				  <label class="login-label" for="user_password">Password</label>
				  <input
				     id="user_password"
				     name="user[password]"
				     type="password">
				  <br>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <input type="submit" class="btn btn-primary" value="Log In">
	      </div>
			</form>
    </div>
  </div
</div>