<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "put" : "post") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>

<%= form_for @user do |f| %>
  <%= f.label "First Name: " %>
  <%= f.text_field :f_name %><br />

  <%= f.label "Last Name: " %>
  <%= f.text_field :l_name %><br />
	
  <%= f.label "Email: " %>
  <%= f.text_field :email %><br />
	
  <%= f.label "Password: " %>
  <%= f.password_field :password %><br />
	
	<%= f.label "Profile Photo: "%>
	<%= f.file_field :profile_photo %><br />

  <%= f.submit %>
<% end %>

<!-- <form action="<%= action %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input
     id="user_email"
     name="user[email]"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="<%= message %>">
</form> -->
