<div class="container">
	<h1><%= @user.f_name %> <%= @user.l_name %>'s Listings</h1>
	<div class="well panel-border" style="box-shadow: 0 0 2px #999;">
		<div class="user-profile-photo pull-right">
			<img class="img-rounded" src="<%= @user.profile_photo.url(:big) %>" style="box-shadow: 2px 2px 3px #666;">
		</div>
		<% @user.pads.each do |pad| %>
			<div class="row well" style="box-shadow: 0 0 2px #999; padding: 20px; margin-left: 20px; width: 730px;">
				<div class="span3" style="font-size: 20px; margin-left: 5px"><b><%= link_to pad.name, "/#pads/" + pad.id.to_s %></b></div>
				<div class="span3" style="font-size: 17px;"><%= pad.address %></div>
				<a href="/pads/<%= pad.id %>"><button class="btn pull-right">Manage</button></a>
			</div>
		<% end %>
	</div>
</div>