<% action = (pad.persisted? ? pad_url(pad) : pads_url) %>
<% method = (pad.persisted? ? "put" : "post") %>
<% message = (pad.persisted? ? "Update pad" : "List pad") %>
<div class="panel-header-gray">
	<h3>
 	 About Your Place
 		<span class="label label-blue"><span class="icon icon-eye-open"></span>
  	Public</span>
	</h3>
	<p>
    Your place is amazing and unique. Tell potential guests why they would want to stay there. Highlight what makes your home a standout!
	</p>
</div>
	<div class="well panel-border" style="box-shadow: 0 0 2px #999;">
		<fieldset class="padtop">

		  <div class="control-group">
		    <label for="hosting_phone" class="control-label">
		      <span class="icon icon-lock"></span>
		      Phone
		    </label>
		    <div class="controls">
      
		<div class="row" id="phone-number-input-widget-fba05e42">

		  <div class="span4">
		    <label for="phone_number">
		      Phone number
		    </label>

		    <div class="input-prepend">
		      <span class="pniw-number-prefix add-on">+1</span>
		      <input type="text" class="pniw-number" id="phone_number">
		      <i class="icon icon-question icon-question-sign" data-behavior="tooltip" rel="tooltip" title="Primary Contact Number (cell or landline).&lt;br /&gt; We will give this number to the guest only after you accept their reservation request."></i>
		    </div>
		  </div>

		  <input type="hidden" data-role="phone_number" name="hosting[phone]" value="1">
		  <input type="hidden" name="user_id" value="9774168">
		</div>

  
		    </div>
		  </div>
		</fieldset>

		<%= simple_form_for @pad do |f| %>
		<%= f.error_notification %>
		<div class="form_inputs">
		<%= f.input :name, label: "Title" %>
		<%= f.hint 'No special characters, please!' %>
		<%= f.input :address %>
	  <%= f.error :address, id: 'address_error' %>
		<%= f.input :price, label: "Daily Price" %>
		<input type="hidden" name="pad[owner_id]" value="<%= current_user.id %>">
		<%= f.input :description, label: "What's awesome about your pad?" %>
		<%= f.input :room_type %>		
		<fieldset class="group">
			<legend>Select Amenities</legend>
				<% all_amens.each_with_index do |amen, index| %>
					<input 
					class="amen-checkbox" type="checkbox" name="amenities[]" id="<%= amen %>" value="<%= amen %>"><label class="amen-checkbox" for="<%= amen %>"><%= amen %></label>
				<% end %>
		</fieldset>

		<%= f.input :accomodates, collection: 1..16 %>
		<div class="file_fields">
		
		</div>
	
	  <%= f.label :filepicker_url, "Upload Photos of Your Pad:" %>

	  <%= f.filepicker_field :filepicker_url, multiple: true, dragdrop: true, onchange: "processPhotos()"%>
		<br>
    <p>
        By clicking "Save &amp; Continue," you confirm that you accept the <a href="/terms" target="_blank">Terms of Service</a> &amp; <a href="/terms" target="_blank">Privacy Policy</a>.
    </p>
		<!-- <%= f.button :submit, input_html: { class: "btn btn-primary" } %> -->
		<br><button style="float: left" class="btn" type="submit">Save & Continue</button>
		</div>
		<div class="uploadedPhotos">
		
		</div>
		<% end %>
	
	</div>
<script>
var processPhotos = function () {
	var i = 1;
	event.fpfiles.forEach(function (file){
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][filename]' value='" + file.filename + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][mimetype]' value='" + file.mimetype + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][size]' value='" + file.size + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][url]' value='" + file.url + "'>");
		i += 1;
		displayPicture(file);
	});

}

var displayPicture = function (data){
	$(".uploadedPhotos").append("<img style='width: 160px; height: 160px;' src=" + data.url + ">");
}
</script>