<% action = (pad.persisted? ? pad_url(pad) : pads_url) %>
<% method = (pad.persisted? ? "put" : "post") %>
<% message = (pad.persisted? ? "Update pad" : "List pad") %>

	<%= simple_form_for @pad do |f| %>
	<%= f.error_notification %>
	<div class="form_inputs">
	<%= f.input :name %>
	<%= f.hint 'No special characters, please!' %>
	<%= f.input :address %>
  <%= f.error :address, id: 'address_error' %>
	<%= f.input :price %>
	<input type="hidden" name="pad[owner_id]" value="<%= current_user.id %>">
	<%= f.input :description %>
	<%= f.input :room_type %>		
	<fieldset class="group">
		<legend>Select Amenities</legend>
			<% all_amens.each do |amen| %>
				<input 
				class="amen-checkbox" type="checkbox" name="amenities[]" id="<%= amen %>" value="<%= amen %>"><label class="amen-checkbox" for="<%= amen %>"><%= amen %></label>
			<% end %>
	</fieldset>

	<%= f.input :accomodates, collection: 1..16 %>
	<div class="file_fields">
		
	</div>
	
	
	
  <%= f.label :filepicker_url, "Upload Photos of Your Pad:" %>
  <%= f.filepicker_field :filepicker_url, multiple: true, dragdrop: true, onchange: "processPhotos()"%>
	
	<%= f.full_error :token %>
	<%= f.button :submit, input_html: { class: "btn" } %>
	</div>
	<div class="uploadedPhotos">
		
	</div>
	<% end %>
	
<script>
var processPhotos = function () {
	var i = 1;
	event.fpfiles.forEach(function (file){
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][filename]' value='" + file.filename + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][mimetype]' value='" + file.mimetype + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][size]' value='" + file.size + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][url]' value='" + file.url + "'>");
		i += 1;
		displayPicture(file);
	});

}

var displayPicture = function (data){
	$(".uploadedPhotos").append("<img src=" + data.url + ">");
}
</script>