<% action = (pad.persisted? ? pad_url(pad) : pads_url) %>
<% method = (pad.persisted? ? "put" : "post") %>
<% message = (pad.persisted? ? "Update pad" : "List pad") %>
	<div class="well panel-border" style="box-shadow: 0 0 2px #999;">
		<div class="panel-header-gray">
	  	<h3>
	   	 About Your Place
	   		<span class="label label-blue"><span class="icon icon-eye-open"></span>
	    	Public</span>
	  	</h3>
	  	<p>
	      Your place is amazing and unique. Tell potential guests why they would want to stay there. Highlight what makes your home a standout!
	  	</p>
		</div>

		<%= simple_form_for @pad do |f| %>
		<%= f.error_notification %>
		<div class="form_inputs">
		<%= f.input :name, label: "Title" %>
		<%= f.hint 'No special characters, please!' %>
		<%= f.input :address %>
	  <%= f.error :address, id: 'address_error' %>
		<%= f.input :price, label: "Daily Price" %>
		<input type="hidden" name="pad[owner_id]" value="<%= current_user.id %>">
		<%= f.input :description, label: "What's awesome about your pad?" %>
		<%= f.input :room_type %>		
		<fieldset class="group">
			<legend>Select Amenities</legend>
				<% all_amens.each do |amen| %>
					<input 
					class="amen-checkbox" type="checkbox" name="amenities[]" id="<%= amen %>" value="<%= amen %>"><label for="<%= amen %>"><%= amen %></label>
				<% end %>
		</fieldset>

		<%= f.input :accomodates, collection: 1..16 %>
		<div class="file_fields">
		
		</div>
	
	  <%= f.label :filepicker_url, "Upload Photos of Your Pad:" %>

	  <%= f.filepicker_field :filepicker_url, multiple: true, dragdrop: true, onchange: "processPhotos()"%>
		
		<%= f.button :submit, input_html: { class: "btn btn-primary" } %>
		</div>
		<div class="uploadedPhotos">
		
		</div>
		<% end %>
	
	</div>
<script>
var processPhotos = function () {
	var i = 1;
	event.fpfiles.forEach(function (file){
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][filename]' value='" + file.filename + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][mimetype]' value='" + file.mimetype + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][size]' value='" + file.size + "'>");
		$(".file_fields").append("<input type='hidden' name='attachments[" + i + "][url]' value='" + file.url + "'>");
		i += 1;
		displayPicture(file);
	});

}

var displayPicture = function (data){
	$(".uploadedPhotos").append("<img style='width: 160px; height: 160px;' src=" + data.url + ">");
}
</script>


<div class="container">
  <div class="row">

    <div class="span9">
      <div class="row lys-header">
          <div class="span5">
            <h1>List your space.</h1>
            <h3>
              Baconbnb also lets you make money renting out your place. Your apartment will pay for itself!
            </h3>
            <h3>
              <a id="learn-more" href="/info/why_host" target="_blank">
                Learn more.
              </a>
            </h3>

          </div>
          <!-- <div class="span4">
            <a href="#why-host-video" id="why-host-video-trigger" rel="modal">
              <div class="video-modal" data-width="315" data-height="175" data-videocode="SVwXTQTuXLg">
                <img alt="Why-host-video-small-457168421ba7d7cba9045fc3f75409f0" height="175" src="https://a0.muscache.com/airbnb/static/list-your-space/why-host-video-small-457168421ba7d7cba9045fc3f75409f0.png" width="315">
              </div>
            </a>
            <div class="modal modal-theatre" id="why-host-video" style="height:312px;">
              <object id="video" width="560" height="312">
                <param name="movie" value="//www.youtube.com/v/lVIz0ZbJikw?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1&amp;autoplay=1">
                <param name="allowFullScreen" value="true">
                <param name="allowscriptaccess" value="always">
                <param name="wmode" value="opaque">
                <embed src="//www.youtube.com/v/lVIz0ZbJikw?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="312" wmode="opaque">
              </object>
              <i class="icon icon-remove" data-modal-close="true"></i>
            </div>
          </div>
      </div> -->

      <form accept-charset="UTF-8" action="/rooms/update" class="form-horizontal" id="new_room_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓">

        <div class="well panel-border">
          <div class="panel-header-gray">
  <h3>
    About Your Place
    <span class="label label-blue"><span class="icon icon-eye-open"></span>
    Public</span>
  </h3>
  <p>
      Your place is amazing and unique. Tell potential guests why they would want to stay there. Highlight what makes your home a standout!
  </p>
</div>

<fieldset class="padtop">

  <div class="control-group">
    <label for="hosting_person_capacity" class="control-label">
      Accommodates
    </label>
    <div class="controls">
      <select id="hosting_person_capacity" name="hosting[person_capacity]"><option value="1" selected="selected">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16+</option></select>
      <i class="icon icon-question icon-question-sign" data-behavior="tooltip" rel="tooltip" title="The number of guests you can host"></i>
    </div>
  </div>

  <div class="control-group">
    <label for="hosting_room_type" class="control-label">
      Room type
    </label>
    <div class="controls">
      <select id="hosting_room_type" name="hosting[room_type]"><option value="Private room" selected="selected">Private room</option>
<option value="Shared room">Shared room</option>
<option value="Entire home/apt">Entire home/apt</option></select>
    </div>
  </div>

  <div class="control-group">
    <label for="hosting_name" class="control-label">
      Title
    </label>
    <div class="controls">
      <div class="input-append">
        <input class="" id="hosting_name" maxlength="35" name="hosting[name]" size="35" type="text">
        <span class="add-on" id="letter_count">35</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label for="hosting_description" class="control-label">
      Description
    </label>
    <div class="controls">
      <textarea cols="40" id="hosting_description" name="hosting[description]" rows="20"></textarea>
        <i class="icon icon-question icon-question-sign" data-behavior="tooltip" rel="tooltip" title="Tell people about comforts and amenities, closeness to sites and attractions, and basics like internet, cable, parking. Are you a great host?  Tell them that too!"></i>
    </div>
  </div>



  <div class="control-group" id="promo-code-control">
    <label for="promo_code" class="bold-label control-label">
      Promotional Code?
    </label>
    <div class="controls" style="display: none;">
      <div class="row" id="promo-fields-container">
        <input autocomplete="off" class="span2" id="promo_code" name="promo_code" size="30" type="text">
        <input class="btn span2" id="apply_promo" name="apply_promo" type="submit" value="Apply Promotion">
        <a id="promo_cancel" class="span1" href="javascript:void(0)">
          cancel
        </a>
      </div>
      <div class="promo_response" id="promo_reward" style="display: none;">
        <p><span class="dot dot-green"></span> <span class="outlet"></span></p>
      </div>
      <div class="promo_response" id="promo_error" style="display: none;">
        <p><span class="dot dot-red"></span> <span class="outlet"></span></p>
      </div>
    </div>
  </div>

</fieldset>

          <div class="panel-header-gray">
  <h3 class="rounded_top">
    Shown only to Confirmed Guests
    <span class="label"><span class="icon icon-lock"></span>
    Protected</span>
  </h3>
  <p class="header_description">
    To protect your privacy, we hide your address, phone number, and contact information from people that have not confirmed a reservation with you.
  </p>
</div>

<fieldset class="padtop">

  <div class="control-group">
    <label for="hosting_phone" class="control-label">
      <span class="icon icon-lock"></span>
      Phone
    </label>
    <div class="controls">
      
<div class="row" id="phone-number-input-widget-fba05e42">

  <div class="span4">
    <label for="phone_number">
      Phone number
    </label>

    <div class="input-prepend">
      <span class="pniw-number-prefix add-on">+1</span>
      <input type="text" class="pniw-number" id="phone_number">
      <i class="icon icon-question icon-question-sign" data-behavior="tooltip" rel="tooltip" title="Primary Contact Number (cell or landline).&lt;br /&gt; We will give this number to the guest only after you accept their reservation request."></i>
    </div>
  </div>

  <input type="hidden" data-role="phone_number" name="hosting[phone]" value="1">
  <input type="hidden" name="user_id" value="9774168">
</div>

  
    </div>
  </div>
</fieldset>




  <fieldset>
    <div class="control-group">
      <label class="control-label">
        <strong>
        Listing location
        </strong>
      </label>
      <div class="controls">
      </div>
    </div>

    <div class="control-group">
      <label for="address_street" class="control-label">
        <span class="icon icon-lock"></span>
        Address Line 1
      </label>
      <div class="controls">
        <input id="address_street" name="address[street]" size="30" type="text">
        <p class="help-text">
        Street address, P.O. box, company name, c/o...
        </p>
      </div>
    </div>

    <div class="control-group">
      <label for="address_apt" class="control-label">
        <span class="icon icon-lock"></span>
        Address Line 2
      </label>
      <div class="controls">
        <input id="address_apt" name="address[apt]" size="30" type="text">
        <p class="help-text">
        Apartment, suite, unit, building, floor...
        </p>
      </div>
    </div>

    <div class="control-group">
      <label for="address_city" class="control-label">
        City
      </label>
      <div class="controls">
        <input id="address_city" name="address[city]" size="30" type="text">
      </div>
    </div>

    <div class="control-group">
      <label for="address_state" class="control-label">
        State
      </label>
      <div class="controls">
        <input id="address_state" name="address[state]" size="30" type="text">
      </div>
    </div>

    <div class="control-group">
      <label for="address_zipcode" class="control-label">
        ZIP Code
      </label>
      <div class="controls">
        <input id="address_zipcode" name="address[zipcode]" size="30" type="text">
      </div>
    </div>

    <div class="control-group">
      <label for="address_country" class="control-label">
        Country
      </label>
      <div class="controls">
        <select id="address_country" name="address[country]"><option value="AF">Afghanistan</option>
<option value="AX">Åland Islands</option>
<option value="AL">Albania</option>
<option value="DZ">Algeria</option>
<option value="AS">American Samoa</option>
<option value="AD">Andorra</option>
<option value="AO">Angola</option>
<option value="AI">Anguilla</option>
<option value="AQ">Antarctica</option>
<option value="AG">Antigua and Barbuda</option>
<option value="AR">Argentina</option>
<option value="AM">Armenia</option>
<option value="AW">Aruba</option>
<option value="AU">Australia</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="BS">Bahamas</option>
<option value="BH">Bahrain</option>
<option value="BD">Bangladesh</option>
<option value="BB">Barbados</option>
<option value="BY">Belarus</option>
<option value="BE">Belgium</option>
<option value="BZ">Belize</option>
<option value="BJ">Benin</option>
<option value="BM">Bermuda</option>
<option value="BT">Bhutan</option>
<option value="BO">Bolivia</option>
<option value="BA">Bosnia and Herzegovina</option>
<option value="BW">Botswana</option>
<option value="BV">Bouvet Island</option>
<option value="BR">Brazil</option>
<option value="IO">British Indian Ocean Territory</option>
<option value="VG">British Virgin Islands</option>
<option value="BN">Brunei</option>
<option value="BG">Bulgaria</option>
<option value="BF">Burkina Faso</option>
<option value="BI">Burundi</option>
<option value="KH">Cambodia</option>
<option value="CM">Cameroon</option>
<option value="CA">Canada</option>
<option value="CV">Cape Verde</option>
<option value="BQ">Caribbean Netherlands</option>
<option value="KY">Cayman Islands</option>
<option value="CF">Central African Republic</option>
<option value="TD">Chad</option>
<option value="CL">Chile</option>
<option value="CN">China</option>
<option value="CX">Christmas Island</option>
<option value="CC">Cocos [Keeling] Islands</option>
<option value="CO">Colombia</option>
<option value="KM">Comoros</option>
<option value="CG">Congo</option>
<option value="CK">Cook Islands</option>
<option value="CR">Costa Rica</option>
<option value="HR">Croatia</option>
<option value="CW">Curaçao</option>
<option value="CY">Cyprus</option>
<option value="CZ">Czech Republic</option>
<option value="CD">Democratic Republic of the Congo</option>
<option value="DK">Denmark</option>
<option value="DJ">Djibouti</option>
<option value="DM">Dominica</option>
<option value="DO">Dominican Republic</option>
<option value="TL">East Timor</option>
<option value="EC">Ecuador</option>
<option value="EG">Egypt</option>
<option value="SV">El Salvador</option>
<option value="GQ">Equatorial Guinea</option>
<option value="ER">Eritrea</option>
<option value="EE">Estonia</option>
<option value="ET">Ethiopia</option>
<option value="FK">Falkland Islands [Islas Malvinas]</option>
<option value="FO">Faroe Islands</option>
<option value="FJ">Fiji</option>
<option value="FI">Finland</option>
<option value="FR">France</option>
<option value="GF">French Guiana</option>
<option value="PF">French Polynesia</option>
<option value="TF">French Southern Territories</option>
<option value="GA">Gabon</option>
<option value="GM">Gambia</option>
<option value="GE">Georgia</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GI">Gibraltar</option>
<option value="GR">Greece</option>
<option value="GL">Greenland</option>
<option value="GD">Grenada</option>
<option value="GP">Guadeloupe</option>
<option value="GU">Guam</option>
<option value="GT">Guatemala</option>
<option value="GG">Guernsey</option>
<option value="GN">Guinea</option>
<option value="GW">Guinea-Bissau</option>
<option value="GY">Guyana</option>
<option value="HT">Haiti</option>
<option value="HM">Heard Island and McDonald Islands</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IS">Iceland</option>
<option value="IN">India</option>
<option value="ID">Indonesia</option>
<option value="IQ">Iraq</option>
<option value="IE">Ireland</option>
<option value="IM">Isle of Man</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="CI">Ivory Coast</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JE">Jersey</option>
<option value="JO">Jordan</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="KI">Kiribati</option>
<option value="XK">Kosovo</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>
<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>
<option value="MO">Macau</option>
<option value="MK">Macedonia</option>
<option value="MG">Madagascar</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="YT">Mayotte</option>
<option value="MX">Mexico</option>
<option value="FM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="ME">Montenegro</option>
<option value="MS">Montserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar [Burma]</option>
<option value="NA">Namibia</option>
<option value="NR">Nauru</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="NC">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="NU">Niue</option>
<option value="NF">Norfolk Island</option>
<option value="MP">Northern Mariana Islands</option>
<option value="NO">Norway</option>
<option value="OM">Oman</option>
<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PS">Palestinian Territories</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PN">Pitcairn Islands</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>
<option value="PR">Puerto Rico</option>
<option value="QA">Qatar</option>
<option value="RE">Réunion</option>
<option value="RO">Romania</option>
<option value="RU">Russia</option>
<option value="RW">Rwanda</option>
<option value="BL">Saint Barthélemy</option>
<option value="SH">Saint Helena</option>
<option value="KN">Saint Kitts and Nevis</option>
<option value="LC">Saint Lucia</option>
<option value="MF">Saint Martin</option>
<option value="PM">Saint Pierre and Miquelon</option>
<option value="VC">Saint Vincent and the Grenadines</option>
<option value="WS">Samoa</option>
<option value="SM">San Marino</option>
<option value="ST">São Tomé and Príncipe</option>
<option value="SA">Saudi Arabia</option>
<option value="SN">Senegal</option>
<option value="RS">Serbia</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore</option>
<option value="SX">Sint Maarten</option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="SB">Solomon Islands</option>
<option value="SO">Somalia</option>
<option value="ZA">South Africa</option>
<option value="GS">South Georgia and the South Sandwich Islands</option>
<option value="KR">South Korea</option>
<option value="SS">South Sudan</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="SR">Suriname</option>
<option value="SJ">Svalbard and Jan Mayen</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TG">Togo</option>
<option value="TK">Tokelau</option>
<option value="TO">Tonga</option>
<option value="TT">Trinidad and Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks and Caicos Islands</option>
<option value="TV">Tuvalu</option>
<option value="UM">U.S. Outlying Islands</option>
<option value="VI">U.S. Virgin Islands</option>
<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="AE">United Arab Emirates</option>
<option value="GB">United Kingdom</option>
<option value="US" selected="selected">United States</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>
<option value="VU">Vanuatu</option>
<option value="VA">Vatican City</option>
<option value="VE">Venezuela</option>
<option value="VN">Vietnam</option>
<option value="WF">Wallis and Futuna</option>
<option value="EH">Western Sahara</option>
<option value="YE">Yemen</option>
<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option></select>
      </div>
    </div>


  </fieldset>



          <div class="control-group">
            <div class="controls">
              <p class="span5">
                  By clicking "Save &amp; Continue," you confirm that you accept the <a href="/terms" target="_blank">Terms of Service</a> &amp; <a href="/terms" target="_blank">Privacy Policy</a>.
              </p>
            </div>
          </div>

          <div class="submit-wrapper panel-header-gray">
            <div class="control-group">
              <div class="controls">
                  <div class="span3">
                    <input type="submit" id="post_room_submit_button" class="btn green" value="Save &amp; Continue">
                  </div>
              </div>
            </div>
          </div>


        </div>
</form>    </div>
    <div class="span3">
      <aside class="lys-sidebar">
  <h3>Questions &amp; Answers</h3>
  <div class="box">
    <ul class="unstyled" id="faq">

      <li class="question">
        <a class="trigger" data-number="1" href="#faq">
          Is it free to list?
        </a>
        <div class="answer">
          <p>Listing your home is free. We collect 3% of each accepted reservation to cover the cost of processing. Guests are charged 6-12% of the booking fee. Funds are transferred directly to the host.</p>
          <p>Professional photography is free in most areas.</p>
        </div>
      </li>

    <li class="question">
      <a class="trigger" data-number="2" href="#faq">How does Airbnb promote safety?</a>
      <div class="answer">
        <ul>
          <li><a id="js-educate-safety" href="/safety">Educate yourself about safety</a></li>
          <li><a id="js-host-guarantee" href="/guarantee">Protected by the $1,000,000 Airbnb Host Guarantee</a></li>
          <li>24/7 phone support</li>
          <li>Rich user profiles and reviews</li>
          <li>Messaging system and Facebook connections help hosts learn about prospective guests</li>
        </ul>
     </div>
    </li>

    <li class="question">
    <a class="trigger" data-number="3" href="#faq">Who will be staying at your home?</a>
       <div class="answer">
         <ul>
           <li>Vacationers</li>
           <li>Business professionals in town for work</li>
           <li>Travelers in town for special events</li>
           <li>Families looking for local flavor</li>
           <li>People exploring a neighborhood before moving there</li>
        </ul>
      </div>
    </li>

    <li class="question">
      <a data-number="4" href="#faq" class="trigger">Why rent your extra space?</a>
      <div class="answer">
        <ul>
            <li>To make extra money</li>
            <li>To meet interesting travelers from around the world</li>
            <li>To share local knowledge about your city</li>
            <li>To test things out and see if hosting is for you</li>
        </ul>
      </div>
    </li>

    <li class="question">
      <a data-number="5" href="#faq" class="trigger">What can you list?</a>
      <div class="answer">
        <ul>
          <li>A spare room</li>
          <li>A futon / sleeper sofa</li>
          <li>A whole home</li>
            <li>
              A novelty property like a treehouse, boat, island, castle
            </li>
        </ul>
      </div>
    </li>

      <li class="question">
        <a data-number="6" href="#faq" class="trigger">How long will guests stay?</a>
        <div class="answer">
          <ul>
            <li>Overnight</li>
            <li>A vacation weekend</li>
            <li>A few week nights for work</li>
            <li>A full week</li>
            <li>Sublet for a few months</li>
          </ul>
        </div>
      </li>


  </ul>

  <h3>Safety</h3>
  <p>
    <strong>
      <a href="/safety" id="educate_yourself" target="_blank">Educate yourself about safety</a>
    </strong>
  </p>
  <div class="row space2">
    <div class="span1">
      <img alt="Host-guarantee-74df9430ef21ddbfe56a017857ccf00f" height="83" src="https://a2.muscache.com/airbnb/static/list-your-space/host-guarantee-74df9430ef21ddbfe56a017857ccf00f.png" width="83">
    </div>
    <div class="span2">
      <a href="/guarantee" id="host_guarantee" class="guarantee_link" target="_blank">
        Protected by the $1,000,000 Airbnb Host Guarantee
      </a>
    </div>
  </div>


</div></aside>

    </div>
  </div>
</div>


