<div class="container">
	<% pad_owner = User.find(@pad.id) %>
	<h1><%= link_to @pad.name, "/#pads/" + @pad.id.to_s %> <small>Listed by <%= pad_owner.f_name + " " + pad_owner.l_name %></small></h1>
	<h4><%= @pad.address %><br></h4>
	<div class="well panel-border" style="border-radius: 4px;box-shadow: 2px 2px 3px #666;">
		<div class="pad-profile-photo pull-right">
			<img class="img-rounded" src="<%= @pad.attachments.first.url %>" style="box-shadow: 2px 2px 3px #666;">
		</div>
		<h3>Description</h3>
		<%= @pad.description %><br>
		<h3>Amenities</h3>
		<% @pad.amenities.each do |amenity| %>
		<div class="user-amen-list" style="margin: 5px; float: left;">
		<%= amenity.name%>
		</div>
		<% end %><br>
		<h3>Requests</h3>
		<% if @pad.bookings.empty? %>
		You have no bookings!
		<% end %>
		<% @pad.bookings.each do |booking| %>
			<% if booking.status == "approved" %>
				<% alert_status = "success" %>
			<% elsif booking.status == "denied"%>
				<% alert_status = "danger" %>
			<% else %>
				<% alert_status = "warning" %>
			<% end %>
			<div class="well alert alert-<%= alert_status %> fade in">
				<% booker = User.find(booking.booker_id) %>
				<h4>Booking Request by <img style="width: 30px; height: 30px;" src="<%= booker.profile_photo.url(:small) %>"> <%= booker.f_name + " " + booker.l_name %></h4>
				<% if current_user.id == pad_owner.id %>
					<% if booking.status == "pending"%>
						<%= button_to "Approve Request", approve_pad_booking_url(@pad, booking), :method => :put, :class => "btn btn-success pull-right"%><br>
						<%= button_to "Deny Request", deny_pad_booking_url(@pad, booking), :method => :put, :class => "btn btn-danger pull-right" %>
						<% end %>
				<% end %>
				<p>
				<%= "Num Guests: " + booking.num_guests.to_s %><br>
				<%= "Start Date: " + booking.start_date.to_s %><br>
				<%= "End Date: " + booking.end_date.to_s %><br>
				<%= "Status: " + booking.status.to_s.upcase %><br>
				</p>
			</div>
		<% end %>
	</div>
</div>