<div class="leftbar" style="float: left; width: 400px;">
	<%= pad.escape("description") %>
</div>
<div class="rightbar" style="float: left; ">
	<ul>
		<li><%= pad.escape("room_type") %></li>
		<li><%= pad.escape("bed_type") %></li>			
		<li><%= pad.escape("accomodates") %></li>
		<li><%= pad.escape("bathrooms") %></li>
		<li><%= pad.escape("min_stay") %></li>		
		<li><%= pad.escape("country") %></li>
		<li><%= pad.escape("city") %></li>
		<li><%= pad.escape("neighborhood") %></li>
		<li><%= pad.escape("cancellation") %></li>
	</ul>
</div>