<div class="leftbar">
	<%= pad.escape("description") %>
</div>
<div class="rightbar">
		<table class="table table-striped">
			<tr>
	      <td>Room type: </td>
	      <td class="value"><%= pad.escape("room_type") %></td>
	    </tr>			
	    <tr>
	      <td>Bed type: </td>
	      <td class="value"><%= pad.escape("bed_type") %></td>
	    </tr>
	    <tr>
	      <td>Accomodates: </td>
	      <td class="value"><%= pad.escape("accomodates") %></td>
	    </tr>
	    <tr>
	      <td>Bathrooms: </td>
	      <td class="value"><%= pad.escape("bathrooms") %></td>
	    </tr>
	    <tr>
	      <td>Minimum Stay: </td>
	      <td class="value"><%= pad.escape("min_stay") %></td>
	    </tr>
	    <tr>
	      <td>Country: </td>
	      <td class="value"><%= pad.escape("country") %></td>
	    </tr>
	    <tr>
	      <td>City: </td>
	      <td class="value"><%= pad.escape("city") %></td>
	    </tr>
	    <tr>
	      <td>Neighborhood: </td>
	      <td class="value"><%= pad.escape("neighborhood") %></td>
	    </tr>
	    <tr>
	      <td>Cancellation: </td>
	      <td class="value"><%= pad.escape("cancellation") %></td>
	    </tr>
		</table>
</div>
