<div class="leftbar" style="float: left; width: 400px;">
	<%= pad.escape("description") %>
</div>
<div class="rightbar" style="margin-left: 40px; float: left; ">
	<ul>
		<li>Room Type: <%= pad.escape("room_type") %></li>
		<li>Bed Type: <%= pad.escape("bed_type") %></li>			
		<li>Accomodates: <%= pad.escape("accomodates") %></li>
		<li>Bathrooms: <%= pad.escape("bathrooms") %></li>
		<li>Minimum Stay: <%= pad.escape("min_stay") %></li>		
		<li>Country: <%= pad.escape("country") %></li>
		<li>City: <%= pad.escape("city") %></li>
		<li>Neighborhood: <%= pad.escape("neighborhood") %></li>
		<li>Cancellation: <%= pad.escape("cancellation") %></li>
	</ul>
</div>