<h2><%= pad.escape("name") %></h2>
<b><%= pad.escape("room_type") %></b> ~ <%= pad.escape("address") %>

<div class="details">
	<div id="tabContainer" class="tabs">
		<div class="tab" id="content1Tab"></div>
		<div class="tab" id="content2Tab"></div>
		<div class="tab" id="content3Tab"></div>				
	</div>
	
	<div id="contentContainer">
	
	</div>
	
	<div class="desc-amen">
		<%= pad.escape("description") %>
		<div class="description">
			<ul>
				<li><%= pad.escape("room_type") %></li>
				<li><%= pad.escape("bed_type") %></li>			
				<li><%= pad.escape("accomodates") %></li>
				<li><%= pad.escape("bathrooms") %></li>
				<li><%= pad.escape("min_stay") %></li>		
				<li><%= pad.escape("country") %></li>
				<li><%= pad.escape("city") %></li>
				<li><%= pad.escape("neighborhood") %></li>
				<li><%= pad.escape("cancellation") %></li>
			</ul>
		</div>
	</div>
</div>

<div class="book">From<br>$79</div>
