<div class="row pagedetail container-fluid">
	<!-- facebook like button -->
  <div class="fb-like" data-href="https://www.baconbnb.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	
	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="www.baconbnb.com">Tweet</a>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=170653129616026";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<!-- twitter tweet button -->

	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<h1 style="margin-left: 30px;"><%= pad.escape("name") %></h1>
	<div class="pad-address"><b style="margin-left: 30px;"><%= pad.escape("room_type") %></b> ~ <%= pad.escape("address") %></div>
	  <div class="span8 detail-display">

			<div class="visual">
				<ul class="nav nav-tabs" id="visualTabs">
				  <li class="tab" id="photos"><a>Photos</a></li>
				  <li class="tab" id="maps"><a>Maps</a></li>
				  <li class="tab" id="street-view"><a>Street View</a></li>
				  <li class="tab" id="calendar"><a>Calendar</a></li>
				</ul>

				<div class="visualContent" id="visualContent">
				</div>
			</div>
			

			<div class="details">
				<ul id="detailTabs" class="tabs nav nav-tabs">
					<li class="tab" id="description"><a>Description</a></li>
					<li class="tab" id="amenities"><a>Amenities</a></li>
				</ul>

				<div class="detailContent" id="detailContent">
				</div>
			</div>

		</div>
		
		<div class="span4 side">
			<div class="side-detail">
				<div class="book">
					<div class="book-info">
						<form class="booking-form">
							<label class="daily pull-right">DAILY</label>
							<label class="from">From</label><br>
							<div class="price">$<%= pad.get("price") %></div><br>
							
							<div class="input-append date form_datetime">
							    <input class="date-search-box" type="text" name="booking[check_in]" placeholder="Check In">
							    <span class="add-on"><i class="icon-th"></i></span>
							</div>
							
							<div class="input-append date form_datetime">
							    <input class="date-search-box" type="text" name="booking[check_out]" placeholder="Check Out">
							    <span class="add-on"><i class="icon-th"></i></span>
							</div>
			
							<input 
								type="number" 
								name="booking[num_guests]"
								value="1"
								placeholder="1 Guest"><br>
						</div>
				
						<div class="book-btn">			
							<button type="submit" class="btn btn-primary book-btn">BOOK</button>
						</div>
					</form>
				</div>
				
				<div class="rating-box">
					<div class="rating">
						<h3>Overall Guest Satisfaction</h3>
						<span class='glyphicon glyphicon-star stars'></span><span class='glyphicon glyphicon-star stars'></span><span class='glyphicon glyphicon-star stars'></span><span class='glyphicon glyphicon-star stars'></span><span class='glyphicon glyphicon-star-empty stars'></span>
					</div>
				</div>
			
				<div class="owner">
					<div class="profile-pic">
						<img class="img-rounded" src=<%= pad.owner().get("profile_photo_url") %>><br>
					</div>
					<div class="owner-info">
					Listed by: <%= pad.owner().get("f_name") %> <%= pad.owner().get("l_name") %><br>
					Response Rate: 100%<br>
					Response Time: within a few hours<br>
					Calendar Updated: a week ago<br>
					</div>
				</div>
			</div>
		</div>
</div>
