<% pads.forEach(function(pad) { %>
		<div class="pad-icon">
			<!-- <div class="heart"><span class="glyphicon glyphicon-heart-empty"></span></div> -->
			<a href="#pads/<%= pad.id %>">
			<div id="carousel-example-generic-<%= pad.id %>" class="carousel slide" data-ride="carousel" style="width: 100%;">
			
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">						
					<% if (pad.attachments().models[0] != undefined) { %>
						<% var i = 0 %>
						<% pad.attachments().each(function(attachment) { %>
							<% if (i == 0) { %>
								<div class="item active">
							<% } else { %>
								<div class="item">
							<% } %>
							<% i += 1; %>
							<img src="<%= attachment.get('url') %>">
				      <div class="carousel-caption pad-names">
				        <%= pad.get("name")%>
				      </div>
							</div>
						<% }); %>
					<% } else { %>
						<div class="item active">
							<img class="carousel-image" src="assets/large.jpg">
						</div>
					<% } %>
			  </div>
			
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic-<%= pad.id %>" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left index"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic-<%= pad.id %>" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right index"></span>
			  </a>
			</div>
		</div>
	<a>
<% }); %>